.App {
  text-align: center;
}

.header{
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.header img {
  margin-right: 10px;
}

.dashboard{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.input-field{
  width: 500px;
  height: 100%;
  border-right: 1px solid gray;
}

.input-field .text-area{
  height: 89%;
  margin: 20px 0  0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.input-field .text-area h4{
  margin-bottom: 20px;
}

.input-field .text-area li {
  margin-top: 5px;
}

.input-field .input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-field .input input{
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.input-field .input input:focus{
  border-color: #007bff; 
  outline: none; 
}

.input-field .input button{
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 12px;
  background-color: #dda3ff;
  color: #fff; 
  border: 1px solid #dda3ff;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.input-field .input button:hover {
  background-color: #dda3ff; 
  border-color: #dda3ff; 
}

.input-field .input button:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3); 
}


.input-field .input button:active {
  background-color: #004080; 
  border-color: #004080; 
}

.comic-view{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
}

.comic-view img{
  margin: 10px;
}

.error {
  position: fixed;
  min-width: 100px;
  bottom: 40px; 
  right: 30px; 
  background-color: rgb(235, 81, 81); 
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999; 
}