.App{
  height: 100vh;
  background-color: #27264E;
  font-family: 'Poppins', sans-serif;
}

.header{
  color: white;
  background-color: #35356B;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.dashboard{
  height: 89%;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: white;
}

.input-field{
  min-width: 340px;
  background-color: #3B3B79;
  margin-right: 10px;
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.input-field .input{
  /* border: 1px solid white; */
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px; */
}

.input-field .input input{
  font-size: 16px;
  color: white;
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  /* margin-bottom: 16px; */
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #5e5db1;
  transition: border-color 0.3s ease;

}

.input-field .input input:focus{
  border-color: #007bff; 
  outline: none; 
}

.input-field .input button{
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.5;
  padding: 8px 12px;
  background-color: #6759FA;
  color: #fff; 
  border: 1px solid #4B4A8C;
  border-radius: 13px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.input-field .input button:hover {
  background-color: #052049; 
  border-color: #dda3ff; 
  cursor: pointer;
}

.input-field .input button:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3); 
}


.input-field .input button:active {
  background-color: #004080; 
  border-color: #004080; 
}

.input-field .text-area p{
  margin-bottom: 12px;
  color: #adade4;
  /* font-size: large; */
}
.input-field .text-area{
  /* border: 1px solid white; */
  width: 80%;
}

.input-field .text-area li{
  list-style-type: none;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #4B4A8C;
  padding: 8px 0 8px 0px;
  margin-bottom: 10px;
}

.input-field .text-area li span{
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 12px;
}
.comic-layout{
overflow-x: scroll;
}
.comic-layout::-webkit-scrollbar {
display: none;
}

.comic-layout p{
margin: 55px;
}

.comic-view{
/* border: 1px solid white; */
position: relative;
height: 97.8%;
min-width: 165%;
display: grid;
grid-template-columns: repeat(5, minmax(0, 1fr));; 
grid-template-rows: repeat(2, 50%);
column-gap: 10px;
row-gap: 10px;
/* overflow-x: scroll; */
}
.comic-view::-webkit-scrollbar {
display: none;
}

.comic-view .comic-item img{
height: 95%;
width: 95%;
}

.comic-view .comic-item button{
position: absolute;
background: red;
top: 30px;
margin-left: 5px;
color: white;
width: 20px;
height: 20px;
border-radius: 20px;
border: 1px solid red;
display: inline-block;
line-height: 4px;
opacity: 0;
transition: opacity 0.3s ease-in-out; 
}

.comic-item:hover .remove-btn{
opacity: 1;
}

.comic-layout .comic-view .comic-item{
height: 100%;
}

.comic-layout .comic-view .comic-item p{
display: inline-block;
left: 25px;
margin: 0;
max-width: 250px;
}

.comic-layout .comic-view .comic-item input{
display: inline-block;
left: 25px;
margin: 0;
background-color: #3b3b79;
padding: 0 8px 0 5px;
color: white;
border: none; 
padding: 5px; 
max-width: 250px;
}

.floating-button{
display: none;
}

.error {
  position: fixed;
  min-width: 100px;
  bottom: 40px; 
  right: 30px; 
  background-color: rgb(235, 81, 81); 
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999; 
}

@media (max-width: 1200px){
.comic-view{
  grid-template-columns: repeat(3, minmax(0, 1fr));; 
  grid-template-rows: repeat(3, 60%);
}

}

@media(max-width:930px){
.comic-view{
  grid-template-columns: repeat(2, minmax(0, 1fr));; 
  grid-template-rows: repeat(5, 70%);
}
}

@media(max-width: 767px){

/* .floating-button{
  display: block;
  position: fixed;
  bottom: 16px;
  right: 16px;
} */

.header h3{
  width: 50%;
}

.floating-button {
  display: inline;
  position: fixed;
  top: 2%;
  right: -8%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 150;
}

.dashboard{
  position: relative;
  top: 100px;
  align-items: center;
  justify-content: center;
}

.input-field {
  /* color: black; */
  display: none;
  position: fixed;
  width: 80%;
  height: 85%;
  top: 70px;
  right: 6px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateX(100%);
  opacity: 0;
  background-color: #17172fd1;
  z-index: 100;
}

.input-field .text-area{
  height: 84%;
}

/* .input-field .text-area p{
  color: black;
} */


.input-field.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  opacity: 1;
}

.comic-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}



.comic-layout p{
  color: #4B4A8C;
}

.comic-view{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-x: hidden;
  min-width: 100%;
  height: 100%;
}

.comic-item{
  height: auto;
}

.comic-view .comic-item {
  width: 80%;
  height: auto;
}

.comic-view .comic-item img{
  height: auto;
}

.header{
  color: white;
  background-color: #35356B;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 14px;
  position: fixed;
  width: 100%;
}

.comic-layout .comic-view .comic-item p{
  position: inherit;
  display: inline-block;
  margin: 5px 5px;
  padding: 0 8px 0 5px;
  left: 14%;
  color: white;
  font-size: 14px;
  max-width: 70%;
}

.comic-layout .comic-view .comic-item input{
  position: inherit;
  display: inline-block;
  left: 14%;
  margin: 5px 5px;
  padding: 0 8px 0 5px;
  color: white;
  border: none;
  cursor: text; 
  padding: 5px; 
  font-size: 14px;
}

.comic-view .comic-item button {
  background: red;
  top: 37px;
  margin-left: 5px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid red;
  display: inline-block;
  line-height: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

}

@media(max-width: 400px){
.floating-button{
  right: -20%;
}

.comic-layout .comic-view .comic-item p{
  left: 60px;
  font-size: 14px;
  max-width: 65%;
}

.comic-layout .comic-view .comic-item input{
  left: 60px;
  padding: 5px; 
  font-size: 14px;
  max-width: 65%;
}
}